<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ao seu serviço</h2>
                <hr class="primary">
Comprei dois pares de sapatos Geox do mesmo modelo (um número 28 e outro 31) para duas crianças diferentes. Depois de um mês de utilização ambos os sapatos já estavam completamente danificados.
Eu tenho 3 filhos e sou cliente da Geox há 9 anos. Todos os anos compro entre 4 e 6 pares de sapatos Geox, que duram um ano inteiro. A minha escolha pela Geox tem assentado na sua qualidade e durabilidade.

Contudo, desta vez os sapatos não duraram nem 1 mês. Isto leva-me a crer que se deve a um defeito deste modelo da Geox, já que nenhuns dos sapatos anteriores que comprei duraram tão pouco. Além disso, estranho que duas crianças diferentes estraguem os sapatos da mesma forma em tão pouco tempo.

Após a minha reclamação na loja, a Geox não reconhece qualquer defeito do sapato e justifica como má utilização da criança. Para mais informações contactar na Web o serviço de atendimento ao cliente fixado em Itália.
            </div>
        </div>
    </div>
</section>
