<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
I bought two pairs of Geox shoes of the same kind (nr 28 and nr 31) for two different kids. 
After one month use both shoes are completely damage. 
I have 3 children and I am a Geox customer for 9 years. Every year I buy between 4 and 6 pairs of Geox shoes, which last for a complete year.
This time, these shoes did not resist for more than one month. 
I am sure that is a defect on this particularly model, because it is the first time that I observe this behavior and two different kids have damaged those shoes in the same way.
However, the Geox does not accept their fault and claims bad use of my kids.

Two different kids, two different sizes (28 and 31), using for 1 month and the same flaw.
            </div>
        </div>
    </div>
</section>
